<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:35 GMT -->
<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/admin/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/admin/assets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <main>
        <section class="content-main mt-80 mb-10">
            <div class="card mx-auto card-login">
                <div class="card-body">
                    <h4 class="card-title mb-4">Sign in</h4>
                    <form method="post" id="loginform" action="/admin/login" >
                        <div class="mb-3">
                            <input class="form-control" id="userEmail" name="email" placeholder="Email" type="text">
                            <span id="emailError" style="color: red;"></span>
                        </div> <!-- form-group// -->
                        <div class="mb-3">
                            <input class="form-control" id="userPassword" name="userPassword" placeholder="Password" type="password">
                            <span id="passwordError" style="color: red;"></span>
                        </div> <!-- form-group// -->
                        <% if (loginError){ %>
                            <p class="text-danger">Invalid username and password</p>
                        <% } %>
                        <div class="mb-4">
                            <button type="submit" class="btn btn-primary w-100"> Login </button>                     
                        </div> <!-- form-group// -->
                    </form>
                </div>
            </div>
        </section>
        <footer class="main-footer text-center">
            <p class="font-xs">
                <script>
                    document.write(new Date().getFullYear())
                </script> ©, Evara - All rights reserved .
            </p>
        </footer>
    </main>
    
</body>
<script>
// admin Login form Validation 

    loginform.addEventListener('submit', (e) => {
        document.getElementById("emailError").innerHTML="";
        document.getElementById("passwordError").innerHTML="";
      let messages = [];

            
    let userEmail=document.getElementById("userEmail");
      if (userEmail.value === '' || userEmail.value == null) {
        document.getElementById("emailError").innerHTML="Email is required";
        messages.push('email is required');
      }

      else if (!(userEmail.value.includes("@")  && userEmail.value.includes("."))) {
        document.getElementById("emailError").innerHTML="Enter Proper Email";
        messages.push('Enter Proper Email');
      }

      
      let userPassword=document.getElementById("userPassword")

      if (userPassword.value === '' || userPassword.value == null) {
        document.getElementById("passwordError").innerHTML="password is required ";
        messages.push('password is required');
      }

      if (messages.length > 0) {
        e.preventDefault()
      }
    })

</script>

</html>