<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:32 GMT -->

<%- include('../partials/adminHead.ejs') %>

<body>
    
    <%- include('../partials/adminNav.ejs') %>

  
        <section class="content-main">
            <div class="row">
                <div class="col-6">
                    <div class="content-header">
                        <h2 class="content-title">Add New Product</h2>
                        </div>
                </div>
            </div>

            <form action="/admin/page-form-product-2.html" method="post" enctype="multipart/form-data">

            <div class="row">
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>1. General info</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">Product title</label>
                                        <input name="name" type="text" placeholder="Type here" class="form-control">
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Description</label>
                                        <textarea name="shortDescription" placeholder="Type here" class="form-control" rows="4"></textarea>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Long Description</label>
                                        <textarea name="longDescription" placeholder="Type here" class="form-control" rows="4"></textarea>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Brand name</label>
                                        <select name="brand" class="form-select">
                                            <option> Adidas </option>
                                            <option> Nike </option>
                                            <option> Puma </option>
                                        </select>
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>2. Pricing</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">MRP</label>
                                        <input name="MRP" type="text" placeholder="₹00.0" class="form-control">
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Selling price </label>
                                        <input name="sellingPrice" type="text" placeholder="₹00.0" class="form-control">
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>3. Category</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">Category</label>
                                        <select name="category" class="form-select">
                                            <%let array=[];%>
                                            <% result.forEach(function(item){ %>
                                            <%if(!array.includes(item.name)){%>
                                               <% array.push(item.name)%>
                                            <option> <%= item.name %></option>
                                            <% }}) %>
                                        </select>
                                        <label class="form-label">Sub Category</label>
                                        <input name="subCategory" type="text" placeholder="" class="form-control">
                                        <!-- <select name="subCategory" class="form-select">
                                            <%let array1=[];%>
                                            <% result.forEach(function(item){ %>
                                            <%if(!array1.includes(item.discription)){%>
                                            <% array1.push(item.discription)%> 
                                            <option> <%= item.discription %> </option>
                                            <% }}) %>
                                        </select> -->
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                            <hr class="mb-4 mt-0">


                            <div class="row">
                                <div class="col-md-3">
                                    <h6>4. Media</h6>
                                </div>
                               
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">Images</label>
                                        <input name="image" class="form-control" type="file" multiple>
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- .row end// -->




                            <div class="row">
                                <div class="col-md-3">
                                    <h6>5. Stock</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">Available Stock</label>
                                        <input name="stock" type="text" placeholder="Nos" class="form-control">
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Product Status </label>
                                        <select name="status" class="form-select">
                                            <option> Selling </option>
                                            <option> Blocked </option>
                                        </select>
                                    </div>
                                </div> <!-- col.// -->
                                



                                <div>
                                    <button type="submit" class="btn btn-md rounded font-sm hover-up ms-5">Publish</button>
                                </div>


                            </div> <!-- row.// -->
                        </div>
                    </div>
                </div>
            </div>
            </form>
            </div>
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendors/select2.min.js"></script>
    <script src="assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="assets/js/main.js" type="text/javascript"></script>
    <script defer src="https://cdn.crop.guide/loader/l.js?c=TJFDVW"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:32 GMT -->
</html>