<!DOCTYPE html>
<html class="no-js" lang="en">

<%- include('../partials/userHead.ejs') %>

<body>
  
    <%- include('../partials/userNav.ejs') %>

    <%- include('../partials/userNavMobile.ejs') %>

    
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/index.html" rel="nofollow">Home</a>
                    <span></span> Pages
                    <span></span> Login
                </div>
            </div>
        </div>
        <section class="pt-75 pb-150"style=" width:1600px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <!-- <div class="col-lg-5">
                                <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                                    <div class="padding_eight_all bg-white">
                                        <div class="heading_s1">
                                            <h3 class="mb-30">Login</h3>
                                        </div>
                                        <form method="post" action="/page-login-register.html" id="loginform">
                                            <div class="form-group">
                                                <input type="text" name="email" placeholder="Your Email" id="userEmail">
                                                <span id="emailError" style="color: red;"></span>
                                            </div>
                                            <div class="form-group">
                                                <input  type="password" name="password" placeholder="Password" id="userPassword">
                                                <span id="passwordError" style="color: red;"></span>
                                            </div>
                                            <div class="login_footer form-group">
                                                <div class="chek-form">
                                                    <div class="custome-checkbox">
                                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox1" value="">
                                                        <label class="form-check-label" for="exampleCheckbox1"><span>Remember me</span></label>
                                                    </div>
                                                </div>
                                                <a class="text-muted" href="#">Forgot password?</a>
                                            </div>
                                            <div class="form-group">
                                              <% if (loginError){ %>
                                                <p class="text-danger">Invalid username and password</p>
                                              <% } %>
                                              <% if (blocked){ %>
                                                <p class="text-danger">User is blocked</p>
                                              <% } %>
                                                <button type="submit" class="btn btn-fill-out btn-block hover-up" name="login">Log in</button>
                                                <a class="text" style="margin-left:100px; font-weight: bold;" href="/page-login-register.html-1" >OTP Login</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                
                            </div> -->
                            <div class="col-lg-1"></div>
                            <div class="col-lg-6">

                                <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                                <div class="padding_eight_all bg-white">
                                    <div class="heading_s1">
                                        <h3 class="mb-30">OTP Login</h3>
                                    </div>
                                    <form method="post" action="/page-login-register.html-1" id="otpGenerateForm">
                                        <div class="form-group">
                                            <input type="text" name="phoneNumber" placeholder="Phone Number" id="userPhoneNumber">
                                            <span id="phoneError" style="color: red;"></span>
                                        </div>
                                        <% if (phoneError){ %>
                                          <p class="text-danger">phone Number not found</p>
                                        <% } %>
                                        <p id="otpCoutdownText">resend OTP in <span id="otpCoutDown"> 60</span> seconds </p>
                                        <button type="submit" class="btn btn-fill-out btn-block hover-up" name="login" id="sendOTPbtn">Send OTP</button>
                                        <p></p>
                                    </form>
                                    <form method="post" action="/page-login-register1.html-2" id="otpSubmissionForm">
                                        <div class="form-group" style="margin-top: 20px;">
                                            <input  type="text" name="OTP" placeholder="OTP" id="userOtp">
                                            <span id="otpError" style="color: red;"></span>
                                        </div>
                                        <div class="login_footer form-group">
                                            <div class="chek-form">
                                                <div class="custome-checkbox">
                                                    <!-- <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox1" value="">
                                                    <label class="form-check-label" for="exampleCheckbox1"><span>Remember me</span></label> -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                          <% if (otpError){ %>
                                            <p class="text-danger">OTP not matching</p>
                                          <% } %>
                                            <button type="submit" class="btn btn-fill-out btn-block hover-up" name="login">Log in</button>
                                        </div>
                                    </form>
                                </div>

                                <div class="text-muted text-center"><h3 style="margin-top:50px ;">Dont have an account?</h1> <a href="/page-login-register1.html">Sign Up now</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div id="snackbar">OTP Send </div>

    </main>
    
<%- include('../partials/userFooter.ejs') %>

</body>



<script>


// user Login form Validation 

    // loginform.addEventListener('submit', (e) => {
    //     document.getElementById("emailError").innerHTML="";
    //     document.getElementById("passwordError").innerHTML="";
    //   let messages = [];

            
    // let userEmail=document.getElementById("userEmail");
    //   if (userEmail.value === '' || userEmail.value == null) {
    //     document.getElementById("emailError").innerHTML="Email is required";
    //     messages.push('email is required');
    //   }

    //   else if (!(userEmail.value.includes("@")  && userEmail.value.includes("."))) {
    //     document.getElementById("emailError").innerHTML="Enter Proper Email";
    //     messages.push('Enter Proper Email');
    //   }

      
    //   let userPassword=document.getElementById("userPassword")

    //   if (userPassword.value === '' || userPassword.value == null) {
    //     document.getElementById("passwordError").innerHTML="password is required ";
    //     messages.push('password is required');
    //   }
    //   if (messages.length > 0) {
    //     e.preventDefault()
    //   }
    // })


// OTP Login form Validation 

$("#otpCoutdownText").hide();


    otpGenerateForm.addEventListener('submit', (e) => {
        document.getElementById("phoneError").innerHTML="";
        // document.getElementById("otpError").innerHTML="";
      let messages = [];

      let userPhoneNumber=document.getElementById("userPhoneNumber")

      if (userPhoneNumber.value === '' || userPhoneNumber.value == null) {
        document.getElementById("phoneError").innerHTML="Phone Number is required";
        messages.push('phone number is required');
      }
      else if (userPhoneNumber.value.length !=10){
        document.getElementById("phoneError").innerHTML="Enter 10 digit phone number ";
        messages.push('Enter 10 digit phone number');
      }
      else if (!((userPhoneNumber.value/userPhoneNumber.value)==1)){
        document.getElementById("phoneError").innerHTML="Enter number only";
        messages.push('Enter number only');
      }

     if (messages.length > 0) {
        e.preventDefault()
      }
      else{
        e.preventDefault()

        let frm = $('#otpGenerateForm');
        document.getElementById("otpCoutDown").innerHTML=60;
        
        $.ajax({
        type: frm.attr('method'),
        url: frm.attr('action'),
        data: frm.serialize(),
        success: function (data) {
              if(data.name){
                var x = document.getElementById("snackbar");
                document.getElementById("snackbar").innerHTML="OTP Send"
                x.className = "show";
                setTimeout(function(){ x.className = x.className.replace("show", ""); }, 2000);
                $("#sendOTPbtn").prop('disabled', true);
                $("#otpCoutdownText").show();
                for(let i=0;i<60;i++){
                  setTimeout(function(){
                  document.getElementById("otpCoutDown").innerHTML=Number(document.getElementById("otpCoutDown").innerHTML)-1;
                  console.log(document.getElementById("otpCoutDown").innerHTML)
                  },1000*i)
                if (i==59){
                  setTimeout(function(){
                    $("#sendOTPbtn").prop('disabled', false);
                  },1000*i)
                }
                }
              }
              if(data.err){
                var x = document.getElementById("snackbar");
                document.getElementById("snackbar").innerHTML=data.err;
                x.className = "show";
                setTimeout(function(){ x.className = x.className.replace("show", ""); }, 2000);
              }
               
        },
        error: function (data) {
            alert('An error occurred.');
            console.log(data);
        },
    });
      }
    })

// OTP submission form Validation 

otpSubmissionForm.addEventListener('submit', (e) => {
        document.getElementById("phoneError").innerHTML="";
        document.getElementById("otpError").innerHTML="";
      let messages = [];

      let userPhoneNumber=document.getElementById("userPhoneNumber")

      if (userPhoneNumber.value === '' || userPhoneNumber.value == null) {
        document.getElementById("phoneError").innerHTML="Phone Number is required";
        messages.push('phone number is required');
      }
      else if (userPhoneNumber.value.length !=10){
        document.getElementById("phoneError").innerHTML="Enter 10 digit phone number ";
        messages.push('Enter 10 digit phone number');
      }
      else if (!((userPhoneNumber.value/userPhoneNumber.value)==1)){
        document.getElementById("phoneError").innerHTML="Enter number only";
        messages.push('Enter number only');
      }

    let userOtp=document.getElementById("userOtp")

   if (userOtp.value === '' || userOtp.value == null) {
        document.getElementById("otpError").innerHTML="OTP is required";
        messages.push('phone number is required');
      }
      else if (userOtp.value.length !=4){
        document.getElementById("otpError").innerHTML="Enter 4 digit OTP number ";
        messages.push('Enter 10 digit phone number');
      }
      else if (!((userOtp.value/userOtp.value)==1)){
        document.getElementById("otpError").innerHTML="Enter number only";
        messages.push('Enter number only');
      }



      if (messages.length > 0) {
        e.preventDefault()
      }
    })


 </script>

<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-login-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:06 GMT -->
</html>